<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/transakcije/tabs/istrazi">
      </ion-back-button>
    </ion-buttons>
    <ion-title>transakcija-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{transakcija.naslov}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6"> {{transakcija.kategorija}} </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6"> {{transakcija.podnaslov}} </ion-col>
          <ion-col> {{transakcija.iznos}} </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
